        ../../../../$Recycle.Bin/
        ../../../../DumpStack.log.tmp
        ../../../../JOGO DA VELHA 1/
        ../../../../OEM/
        ../../../../OneDriveTemp/
        ../../../../Program Files (x86)/
        ../../../../Program Files/
        ../../../../ProgramData/
        ../../../All Users
        ../../../Default/
        ../../../Public/
        "../../../Todos os Usu\303\241rios"
        ../../../desktop.ini
        ../../.android/
        ../../.bash_history
        ../../.cache/
        ../../.claude.json
        ../../.claude.json.tmp.23116.b393303576c4
        ../../.claude/
        ../../.codeium/
        ../../.codex/
        ../../.config/
        ../../.copilot/
        ../../.gitconfig
        ../../.gradle/
        ../../.lesshst
        ../../.local/
        ../../.m2/
        ../../.nbi/
        ../../.viminfo
        ../../.vscode-shared/
        ../../.vscode/
        ../../AppData/
        ../../COPYING-expat.txt
        ../../COPYING-ncurses.txt
        ../../COPYING.ISL.txt
        ../../COPYING.LIB.txt
        ../../COPYING.MinGW-w64-runtime.txt
        ../../COPYING.MinGW-w64.txt
        ../../COPYING.RUNTIME-gcc-tdm.txt
        ../../COPYING.default-manifest.txt
        ../../COPYING.winpthreads.txt
        ../../COPYING3-gcc-tdm.txt
        ../../COPYING3-gdb-tdm.txt
        ../../COPYING3.LIB-gcc-tdm.txt
        ../../CleanSlate_Godot_4.7.2_VisualPolished/
        ../
        ../../Clean_Slate_Projeto_Completo_Godot4/
        ../../Contacts/
        ../../Downloads/01 - EDA1E_ P3 - Lista AL.docx
        ../../Downloads/01 - EDA1E_ P3 - Lista AL.pdf
        ../../Downloads/0_2E - EDA2C _Recursividade_AL.docx
        ../../Downloads/0_2E - EDA2C _Recursividade_AL.pdf
        ../../Downloads/1.2-Maria.pdf
        ../../Downloads/1000202362.jpg
        ../../Downloads/1000202363.jpg
        ../../Downloads/11754665.zip
        ../../Downloads/12486572.zip
        ../../Downloads/12486572/
        ../../Downloads/12486573.zip
        ../../Downloads/15.3_versao_Final_com_ISBN-Estrutura_de_Dados_07.07.14.pdf
        ../../Downloads/207_Artigo Seget.pdf
        ../../Downloads/2E - EDA_Recursividade/
        ../../Downloads/3. MANUAL REVISTA TERRITORIOS.pdf
        ../../Downloads/3593cb3b-00a3-50bf-929e-b590cbe8612d.pdf
        ../../Downloads/3917-10621-1-PB.pdf
        ../../Downloads/431038ccee83aab19b6095fb74ecf98d.jpg
        "../../Downloads/5.TEMPLATE-MODELO ARTIGO - REVISTA TERRIT\303\223RIOS- com orienta\303\247\303\265es.doc"
        "../../Downloads/6+-+ALGORITMOS+DE+ORDENA\303\207\303\203O+-+UM+ESTUDO+COMPARATIVO.pdf"
        "../../Downloads/A MEDIA\303\207\303\203O HUMANA E TECNOL\303\223GICA COMO PILARES DA EDUCA\303\207\303\203O ESPECIAL E INCLUSIVA-IVONE_SILVA_SANTOS_NUNES.pdf"
        ../../Downloads/ALINE_MARCIEL_TRINDADE_RELATORIO_ESTAGIO.docx
        ../../Downloads/ATIVIDADE COLISOES.pdf
        ../../Downloads/AWS_Academy_Graduate___Cloud_Developing___Training_Badge_Badge20251009-32-vq98sa.pdf
        ../../Downloads/Adesivo CET 50 Anos.png
        ../../Downloads/Anexos-Pedagogia-32.docx
        ../../Downloads/Apache-NetBeans-21-bin-windows-x64.exe
        ../../Downloads/Banhos naturais com ervas.pdf
        ../../Downloads/Banhos para todos os fins.pdf
        ../../Downloads/Captura de tela 2026-10-06 131730.png
        ../../Downloads/Cartaz CET 50 anos - Mobilidade Humanizada.png
        "../../Downloads/Case 1- M\303\241quina de Doce.pdf"
        "../../Downloads/Case 3- Analisador L\303\251xico.pdf"
        ../../Downloads/Certificado Auxiliar de Cozinha.pdf
        ../../Downloads/Cinzel (1).pdf
        ../../Downloads/Cinzel.pdf
        ../../Downloads/CleanSlate_Godot_4.7.2_Corrigido/
        ../../Downloads/CleanSlate_Godot_4.7.2_VisualPolished/
        ../../Downloads/CleanSlate_v2.0_Godot_4.7.zip
        ../../Downloads/CleanSlate_v2.0_Godot_4.7/
        ../../Downloads/CleanSlate_v2_previa.mp4
        ../../Downloads/Clean_Slate_Projeto_Completo_Godot4/
        ../../Downloads/Codex.dmg
        ../../Downloads/Compiladores.pdf
        ../../Downloads/Curriculo_Maria_Eduarda_ATS_1_pagina.pdf
        ../../Downloads/DAMSP (4).pdf
        ../../Downloads/DESAFIO/
        ../../Downloads/DOCUMENTACAO_PROJETO.pdf
        ../../Downloads/DSC01304.JPG
        ../../Downloads/DSC01305.JPG
        ../../Downloads/DSC01310.JPG
        ../../Downloads/DSC01311.JPG
        ../../Downloads/DSC01381.JPG
        ../../Downloads/DSC01388.JPG
        ../../Downloads/DSC01391.JPG
        ../../Downloads/DSC01512.JPG
        ../../Downloads/DSC01530.JPG
        ../../Downloads/DSC01545.JPG
        ../../Downloads/DSC01565.JPG
        ../../Downloads/DSC01579.JPG
        ../../Downloads/DSC01580.JPG
        ../../Downloads/DSC01581.JPG
        ../../Downloads/DSC01604.JPG
        ../../Downloads/DSC01628.JPG
        ../../Downloads/DSC01635.JPG
        ../../Downloads/DSC01637.JPG
        ../../Downloads/DSC01641.JPG
        ../../Downloads/DSC01888.JPG
        ../../Downloads/DSC01894.JPG
        ../../Downloads/DSC02019.JPG
        "../../Downloads/Desenvolvimento de um Analisador L\303\251xico Sobre a Gram\303\241tica de uma Determinada Linguagem.pdf"
        ../../Downloads/Design sem nome.pdf
        ../../Downloads/Documentacao_Completa_HelpDesk_Visual.pdf
        ../../Downloads/Documentos/
        "../../Downloads/EXTLex um analisador l\303\251xico extens\303\255vel capaz de detectar erros lexicais.pdf"
        ../../Downloads/Estrutura_Dados_web_API-main.zip
        ../../Downloads/Estrutura_Dados_web_API-main/
        ../../Downloads/Estrutura_de_dados_0106 - CComentarios/
        ../../Downloads/Estrutura_de_dados_0106/ROTEIRO_APRESENTACAO.md
        ../../Downloads/Exerccio25082026MariaEduardaMedeiroPorto_20260827151341.zip
        ../../Downloads/Explicacao_AFD_Maquina_de_Doces.txt
        ../../Downloads/ExtratoParcelas_20260522180847.pdf
        ../../Downloads/GRUPO 11  (2).docx
        ../../Downloads/GRUPO 11  (2).pdf
        ../../Downloads/GUILHERME CAMARGO GRECO.pdf
        ../../Downloads/Gals.pdf
        ../../Downloads/Gemini_Generated_Image_ncjqh6ncjqh6ncjq.png
        ../../Downloads/Guia-de-preenchimento-Pedagogia-2.pdf
        ../../Downloads/HQ Mobilidade Urbana - Cet 50 Anos.png
        ../../Downloads/HappyBirthDay-main/
        ../../Downloads/Help_Desk_Web_Main-codex-create-academic-project-in-java-spring-boot/
        ../../Downloads/IVONE SILVA SANTOS NUNES.pdf
        ../../Downloads/Image 1.png
        ../../Downloads/Inscricao_Premio_CET (1).pdf
        ../../Downloads/Inscricao_Premio_CET (2).pdf
        ../../Downloads/Inscricao_Premio_CET (3).pdf
        ../../Downloads/Inscricao_Premio_CET.pdf
        ../../Downloads/Jogo_da_velha_mvc_2-codex-desenvolver-jogo-da-velha-interativo-5ccmzr/
        ../../Downloads/JogodaVelhaRequisitoseSoluoMVC_20260922201143.pdf
        ../../Downloads/LUCAS DIONISIO PEREIRA.pdf
        ../../Downloads/MANUAL+DE+ATIVIDADES+EXTENSIONISTAS+-+ORIENTACOES+DISCENTES.pdf
        ../../Downloads/MEDIADOR.zip
        ../../Downloads/MEDIADOR/
        "../../Downloads/Manual-de-Est\303\241gio-Pedagogia-4 (1).pdf"
        "../../Downloads/Manual-de-Est\303\241gio-Pedagogia-6.PDF"
        ../../Downloads/Maria Eduarda Medeiro Porto Declaracao  I Carta de Explicacao  assinado  (2).pdf
        ../../Downloads/MariaPorto (1) (3) (1).pdf
        ../../Downloads/MariaPorto (2).pdf
        ../../Downloads/MariaPorto.docx
        ../../Downloads/MariaPorto.pdf
        "../../Downloads/MariaPorto_Analista de Qualidade J\303\272nior.pdf"
        ../../Downloads/MariaPorto_Backoffice Specialist.pdf
        ../../Downloads/MariaPorto_Card Schemes Specialist.pdf
        ../../Downloads/MariaPorto_Data Engineer Specialist.pdf
        ../../Downloads/MariaPorto_Data_Analytics_Spec.pdf
        ../../Downloads/MariaPorto_Espec Fin Crime Compliance.pdf
        ../../Downloads/MariaPorto_Espec_Customer_Interaction.pdf
        ../../Downloads/MariaPorto_Espec_Mesa_Operacoes.pdf
        ../../Downloads/MariaPorto_Espec_operacoes.pdf
        ../../Downloads/MariaPorto_Jr. QA Manual Engineer .pdf
        ../../Downloads/MariaPorto_trainee.pdf
        ../../Downloads/Maria_Porto.docx
        ../../Downloads/Maria_Porto_ Engenheira_Software.pdf
        ../../Downloads/Maria_Porto_AI_Developer.pdf
        ../../Downloads/Maria_Porto_Analista_Canais_Digitais.pdf
        "../../Downloads/Maria_Porto_Analista_Cart\303\265es.pdf"
        ../../Downloads/Maria_Porto_Analista_Engenharia_Machine_Learning .pdf
        ../../Downloads/Maria_Porto_Analista_Qualidade .pdf
        "../../Downloads/Maria_Porto_Analista_Solu\303\247\303\265es_Digitais.pdf"
        ../../Downloads/Maria_Porto_Data Scientist III.pdf
        ../../Downloads/Maria_Porto_Engenharia_Software_Backend.pdf
        ../../Downloads/Maria_Porto_Engineer_Lead.pdf
        ../../Downloads/Maria_Porto_Espec_Operacoes_(TLS).pdf
        ../../Downloads/Maria_Porto_Espec_Operacoes_III_(TLS).pdf
        "../../Downloads/Maria_Porto_Especialista_Seguran\303\247a_Corporativa.pdf"
        ../../Downloads/Maria_Porto_Expert_Customer_Interaction.pdf
        ../../Downloads/Maria_Porto_Software_Engineer.pdf
        ../../Downloads/Maria_Porto_trainee.pdf
        ../../Downloads/Material 1.pdf
        ../../Downloads/Material 2.pdf
        "../../Downloads/Modelo-de-Relat\303\263rio-49.pdf"
        "../../Downloads/Modelo-de-Relat\303\263rio-50.docx"
        ../../Downloads/OperaSetup (1).exe
        "../../Downloads/PEDAGOGIA DA ATEN\303\207\303\203O PROFUNDA-IVONE NUNES.pdf"
        "../../Downloads/PORTIF\303\223LIO - EST\303\201GIO CORRIGIDO (1).pdf"
        "../../Downloads/PORTIF\303\223LIO - EST\303\201GIO CORRIGIDO.pdf"
        ../../Downloads/PROJETO_FINAL_HELPDESK.zip
        ../../Downloads/PROPOSTA-IVONE NUNES 2107.pdf
        ../../Downloads/PesquisaA31405.pdf
        ../../Downloads/Projeto_A3_Analisador_Lexico.docx
        ../../Downloads/Projeto_A3_Analisador_Lexico.pdf
        ../../Downloads/Projeto_Extensao_Criminologia_ABNT.pdf
        ../../Downloads/Projeto_Extensao_Criminologia_ABNT_Final.pdf
        ../../Downloads/Proposta Projeto Estrutura Dados Java.docx (1).pdf
        ../../Downloads/Proposta Projeto Estrutura Dados Java.docx.pdf
        ../../Downloads/Proposta de Projeto- Ivone.pdf
        "../../Downloads/RELAT\303\223RIO FINAL_CRIMINOLOGIA - BACHARELADO_PROJETO DE EXTENS\303\203O I - CRIMINOLOGIA.docx"
        "../../Downloads/RELAT\303\223RIO FINAL_CRIMINOLOGIA - BACHARELADO_PROJETO DE EXTENS\303\203O I - CRIMINOLOGIA1.docx"
        "../../Downloads/RELAT\303\223RIO FINAL_CRIMINOLOGIA - BACHARELADO_PROJETO DE EXTENS\303\203O I - CRIMINOLOGIA1.pdf"
        "../../Downloads/RELAT\303\223RIO FINAL_CRIMINOLOGIA - BACHARELADO_PROJETO DE EXTENS\303\203O I -FINALPorto.docx"
        "../../Downloads/RELAT\303\223RIO FINAL_CRIMINOLOGIA - BACHARELADO_PROJETO DE EXTENS\303\203O I -FINALPorto.pdf"
        ../../Downloads/REPOSITORIO_GITHUB_ E_EXPLICACAO.txt
        ../../Downloads/Relatorio_estagio_2 (1).pdf
        ../../Downloads/Relatorio_estagio_2 (2).pdf
        ../../Downloads/Relatorio_estagio_2.docx
        ../../Downloads/Relatorio_estagio_2.pdf
        "../../Downloads/Relat\303\263rio do Percurso Coletivo.docx"
        "../../Downloads/Relat\303\263rio do Percurso Coletivo.pdf"
        ../../Downloads/Roteiro_Apresentacao_HelpDesk_Fiel.pdf
        ../../Downloads/Roteiro_Detalhado_Seminario_ABNT.pdf
        ../../Downloads/TERMO-DE-COMPROMISSO-EAD-1.docx
        ../../Downloads/TERMO-DE-COMPROMISSO-EAD-1.pdf
        "../../Downloads/TERMO-DE-CONV\303\212NIO-EAD-2.pdf"
        ../../Downloads/Terra_Mansa_Banhos_Energeticos.pdf
        ../../Downloads/Terra_Mansa_Catalogo_Banhos.pdf
        ../../Downloads/VICTOR  DELUCCA FREITAS FERREIRA.pdf
        ../../Downloads/WINDOWS_ElectricZineMaker_12.zip
        ../../Downloads/WINDOWS_ElectricZineMaker_12/
        ../../Downloads/WhatsApp Installer (2).exe
        ../../Downloads/WhatsApp Installer.exe
        ../../Downloads/WindsurfUserSetup-x64-2.2.17.exe
        ../../Downloads/adelane.jpg
        ../../Downloads/artigo_atencao_profunda (1).docx
        ../../Downloads/artigo_atencao_profunda.docx
        ../../Downloads/artigo_neuroeducacao.docx
        ../../Downloads/banner-github-helpdesk-ti.png
        ../../Downloads/banner.png
        ../../Downloads/calculadora_mvc_acessivel_grupo.zip
        ../../Downloads/case1.gif
        ../../Downloads/case1.mp4
        ../../Downloads/case2.gif
        ../../Downloads/case2.mp4
        ../../Downloads/cat-top.png
        ../../Downloads/certificado (1).pdf
        ../../Downloads/certificado.pdf
        ../../Downloads/clean_slate_fixed_files/
        ../../Downloads/clean_slate_simulador_godot4/
        ../../Downloads/coin.mp3
        ../../Downloads/company_bar.png
        ../../Downloads/company_boate.png
        ../../Downloads/company_laundry.png
        ../../Downloads/cutscene.ogv
        ../../Downloads/declaracaomatricula.pdf
        ../../Downloads/demo (1).gif
        ../../Downloads/demo.gif
        ../../Downloads/demo.mp4
        ../../Downloads/demosntracao.mp4
        ../../Downloads/desktop.ini
        ../../Downloads/devcpp-4.9.9.2_setup.exe
        ../../Downloads/dfa (2) (1).dfa
        ../../Downloads/dfa (2).dfa
        ../../Downloads/dispense.mp3
        ../../Downloads/doc (1).pdf
        ../../Downloads/doc.pdf
        ../../Downloads/doc_3465934_07-02-2026_14h33 (1).docx
        ../../Downloads/doc_3465934_07-02-2026_14h33.docx
        ../../Downloads/doc_3465934_07-02-2026_14h33.pdf
        ../../Downloads/doc_3538610_06-06-2026_10h08.docx
        ../../Downloads/doc_3538610_06-06-2026_10h08.pdf
        ../../Downloads/educador.jpeg
        ../../Downloads/elevadorCorte.gif
        ../../Downloads/eloa.pdf
        ../../Downloads/ensfund.jpeg
        ../../Downloads/error.mp3
        ../../Downloads/erva_abre_caminho_100g_123_1_0fd23bdd1e1907a79f0666abb4df350e.webp
        ../../Downloads/files/
        ../../Downloads/fundo.mp4
        ../../Downloads/image.png
        ../../Downloads/index.html
        ../../Downloads/java-1.8.0-openjdk-1.8.0.392-1.b08.redhat.windows.x86_64.zip
        ../../Downloads/java-1.8.0-openjdk-1.8.0.482.b08-1.win.jdk.x86_64.zip
        ../../Downloads/jhli.pdf
        ../../Downloads/jogos.pdf
        ../../Downloads/maquinaDoces.gif
        ../../Downloads/menu.gif
        ../../Downloads/menu.mp4
        ../../Downloads/nomes.pdf
        ../../Downloads/paw.png
        ../../Downloads/pesquisa.pdf
        ../../Downloads/pesquisaPreFormatada.docx
        ../../Downloads/png-transparent-english-lavender-lavender-oil-essential-oil-flower-lavender-label-purple-violet-oil.png
        ../../Downloads/pngtree-rosemary-seasoning-for-gourmet-cooking-garnish-elegant-presentations-spice-isolated-on-png-image_13265778.png
        ../../Downloads/racingHearts.mp3
        ../../Downloads/referencias_visuais_ideias_jogos.pdf
        ../../Downloads/relatorio estagio 1.pdf
        ../../Downloads/relatorio2.pdf
        ../../Downloads/relatorio3.pdf
        ../../Downloads/relatorio4.pdf
        ../../Downloads/relatorio5.pdf
        ../../Downloads/relatorio6.pdf
        ../../Downloads/relatorio7.pdf
        ../../Downloads/room_day.png
        ../../Downloads/room_night.png
        ../../Downloads/saymom.pdf
        ../../Downloads/teoria_computacional_compiladores-feature-maquina-doces/
        ../../Downloads/teoria_computacional_compiladores-main (1).zip
        ../../Downloads/teoria_computacional_compiladores-main.zip
        ../../Downloads/teoria_computacional_compiladores-main/
        ../../Downloads/universitario.jpeg
        ../../Downloads/versoaexemplo.pdf
        ../../Downloads/~$ria_Porto.docx
        ../../Favorites/
        ../../LICENSE-python.txt
        ../../Links/
        ../../Microsoft/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{602582a6-fb63-11ef-aeb0-e398225e4000}.TM.blf
        ../../NTUSER.DAT{602582a6-fb63-11ef-aeb0-e398225e4000}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{602582a6-fb63-11ef-aeb0-e398225e4000}.TMContainer00000000000000000002.regtrans-ms
        "../../OneDrive - Acad\303\252mico - \303\202nima Educa\303\247\303\243o/"
        ../../OneDrive/
        ../../README-gcc-tdm64.md
        ../../README-gdb-tdm64.md
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../__installer/
        ../../bin/
        ../../c
        ../../clean_slate_simulador_godot4_v3/
        ../../clean_slate_simulador_godot4_v4/
        ../../gdb64/
        ../../include/
        ../../inst.ini
        ../../lib/
        ../../libexec/
        ../../mingwvars.bat
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../nuuid.ini
        ../../share/
        ../../useruid.ini
        ../../vmlogs/
        ../../x86_64-w64-mingw32/
        ../../../../Windows/
        ../../../../atividade/
        ../../../../godot/
        ../../../../hiberfil.sys
        ../../../../pagefile.sys
        ../../../../swapfile.sys
